.person {
	width: 60%;
	margin: 20px auto;
	padding: 10px;
	border: 1px solid #e5e5e5;
	box-shadow: 0 2px 3px #ccc;
	text-align: center;
}

.person .name {
	font-weight: bold;
}

.person .age {
	font-size: 12px;
}
